* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
  }

  #doing, #done {
    margin-top: 0;
}
  h1 {
    text-align: left;
    background-color: rgb(210, 210, 210);
    font-size: 18px;
    padding: 20px;
  }
  h2{
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #to-do {
    background-color: #e3e3e3;
    width: 400px;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 50px;
    padding-bottom: 20px;
    padding-right: 100px;
    font-size: 12px;
  }

  #doing {
    background-color: #e3e3e3;
    width: 400px;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 50px;
    padding-bottom: 20px;
    padding-right: 100px;
    font-size: 12px;
  }

  #done {
    background-color: #e3e3e3;
    width: 400px;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 50px;
    padding-bottom: 20px;
    padding-right: 100px;
    font-size: 12px;
  }
  
  #crear-tarjeta {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    display: flex;
    padding-left: 20px;
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 15px;
    height: 100px;
    width: 280px;
    border-radius: 15px;
    background-color: #efefef;
    border: none;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .3);
  }
  
  button {
    padding: 5px 10px;
    margin-left: 10px;
  }
  
  .lista {
    list-style: none;
    padding: 0;
  }
  
  .lista h2 {
    margin-top: 20px;
  }

.secciones {
    display: flex;
    flex-direction: row;
}

.doing-done {
    margin-top: 0;
}

  .task {
    padding: 8px;
    margin: 5px 0;
    background: #f0f0f0;
    width: 330px;
    border-radius: 15px;
    margin-left: 30px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .2);
    font-size: 15px;
  }
  
  .task button1 {
    margin-left: 5px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    height: 30px;
    width: 30px;
    background-color: rgb(188, 29, 29);  
    margin-bottom: 5px;
  }

  .task button2 {
    margin-left: 5px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    height: 30px;
    width: 30px;
    background-color: rgb(55, 111, 224 );  
  }
  .task button3 {
    margin-left: 5px;
    cursor: pointer;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    padding-left: 9px;
    padding-top: 7px;
  }

  li {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .task button1:hover {
    background: rgb(157, 16, 16);
  }

  .task button2:hover {
    background: rgb(16, 56, 136);
  }
  .task button3:hover {
    background: #929292;
  }

.task-text {
    margin: 20px;
}

  #btn-crear{
    background-color: rgb(55, 111, 224);
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    color: white;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 50px;
  }

  #btn-crear:hover{
    background-color: rgb(21, 70, 167);
  }